.HAQ-DI {
    text-align: center;
}

.HAQ-DI-questions {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}

.HAQ-DI-title {
    padding: 20px;
    background-color: #2D3D4D;
    font-size: 17px;
    color: white;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.HAQ-DI-head>p {
    margin: 10px;
    width: 100px;
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.HAQ-DI-body input[type="checkbox"] {
    margin: 10px;
    height: 32px;
    width: 32px;
    accent-color: black;
    float: left;
    cursor: pointer;
}

.HAQ-DI-questions-checkbox .HAQ-DI-body>div {
    width: 50%;
}

.HAQ-DI-slider-title {
    font-size: 20px;
    display: block;
}

.HAQ-DI-body lable input[type="radio"] {
    width: 100px;
    margin: 10px;
    height: 32px;
    accent-color: black;
    cursor: pointer;
}

.HAQ-DI-questions-radio lable p {
    width: 434px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.HAQ-DI-questions-radio lable {
    display: flex;
}

.HAQ-DI-head {
    display: flex;
    justify-content: right;
}

.HAQ-DI-questions-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
}

.HAQ-DI-questions-checkbox .HAQ-DI-body lable {
    width: 50%;
}

.HAQ-DI-questions-checkbox .HAQ-DI-body p {
    display: inline-block;
    padding-top: 17px;
}

.HAQ-DI-questions-checkbox .HAQ-DI-body {
    display: flex;
    flex-wrap: wrap;
}

.HAQ-DI-questions-slider .HAQ-DI-body lable p {
    width: 50%;
    padding-right: 15px;
}

.HAQ-DI-questions-slider .HAQ-DI-body lable {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.HAQ-DI-questions-slider input[type="number"] {
    width: 65px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin-top: -7px;
    font-size: 20px;
}

.HAQ-DI-range-view-desc span:last-child {
    float: right;
}

.HAQ-DI-range-view-desc span:first-child {
    float: left;
}

.HAQ-DI-range-view-desc {
    margin-top: 5px;
}

.HAQ-DI-range-view-img {
    letter-spacing: 31px;
    border-left: 2px solid #45484b;
    border-right: 2px solid #45484b;
    padding-left: 34px;
    font-size: 22px;
    height: 21px;
    line-height: 16px;
    user-select: none;
}

.HAQ-DI-subtitle {
    font-size: 25px;
    padding-top: 10px;
    padding: 0px 0px 0px 7px;
    margin-top: 20px;
}

.HAQ-DI-desctiption {
    font-size: 19px;
    padding: 7px;
}

.HAQ-DI-personal-details>.HAQ-DI-subtitle {
    padding: 0px;
    width: 100%;
}

.HAQ-DI-personal-details {
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
}

.HAQ-DI-personal-details>input {
    padding: 10px;
    margin: 15px;
    max-width: 97%;
}

#HAQ-DI .slider-container {
    width: 375px;
}

.HAQ-DI-block select {
    width: 50%;
    font-size: 15px;
    padding: 10px;
}

input.active[type=button] {
    background: #4ACEA2;
    color: white;
    text-decoration: none;
}

/* SLIDER */
/*********** Baseline, reset styles ***********/
#HAQ-DI input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 365px;
}

/* Removes default focus */
#HAQ-DI input[type="range"]:focus {
    outline: none;
}

#HAQ-DI select.error,
#HAQ-DI input.error {
    border-color: red;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
#HAQ-DI input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e3eded;
    border-radius: 0px;
    height: 18px;
}

/* slider thumb */
#HAQ-DI input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -10px;
    /* Centers thumb on the track */
    background-color: #2e3d4d;
    border-radius: 0px;
    height: 38px;
    width: 14px;
}

#HAQ-DI input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #2e3d4d;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
#HAQ-DI input[type="range"]::-moz-range-track {
    background-color: #e3eded;
    border-radius: 0px;
    height: 18px;
}

/* slider thumb */
#HAQ-DI input[type="range"]::-moz-range-thumb {
    background-color: #2e3d4d;
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0px;
    height: 38px;
    width: 14px;
}

#HAQ-DI input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #2e3d4d;
    outline-offset: 0.125rem;
}

.HAQ-form-tabs>div.active {
    display: block;
}

.HAQ-form-tabs>div:last-child>input[name="name"] {
    margin-right: 40px;
}

.HAQ-form-tabs>div:last-child>input:not([type=button]) {
    width: 410px;
}

.HAQ-form-tabs>div:last-child {
    text-align: left;
}

.HAQ-form-tabs>div {
    display: none;
    text-align: center;
}

.HAQ-DI-score {
    font-size: 17px;
    font-weight: 900;
}

#score-input-value {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 28px;
    padding: 0;
    margin-top: -7px;
    font-size: 20px;
    float: right;
}

.HAQ-DI-block .required {
    color: #B46D39;
    font-size: 13px;
    margin-left: 15px;
}

.HAQ-DI-fixed-title {
    background-color: #F1F1F1;
    position: fixed;
    max-width: 954px;
    width: 100%;
    padding: 10px;
    z-index: 9;
    top: 0;
}

#score-calculate-button {
    float: right;
}

.HAQ-DI-body lable .big-text {
    font-size: 25px;
}

.HAQ-DI-body lable>div:not(.slider-container) {
    margin-left: 10px;
}


@media only screen and (max-width: 980px) {
    .HAQ-DI-questions-checkbox .HAQ-DI-body lable {
        width: auto;
    }

    .HAQ-DI-questions-radio lable {
        display: block;
    }

    .HAQ-DI-range-view-img {
        padding-left: 22px;
        letter-spacing: 22px;
    }

    .HAQ-DI-questions-checkbox .HAQ-DI-body p {
        max-width: 255px;
    }

    .HAQ-DI-questions-slider .HAQ-DI-body lable p {
        width: 70%;
    }

    #HAQ-DI .slider-container {
        width: 249px;
    }

    .HAQ-DI-questions-checkbox .HAQ-DI-body>div {
        width: 100%;
    }

    .HAQ-DI-questions-radio lable p {
        width: auto;
    }

    .HAQ-DI-block select {
        width: 100%;
    }

    .HAQ-form-tabs>div:last-child {
        text-align: center;
    }

    .HAQ-DI-head {
        justify-content: space-between;
    }

    .HAQ-DI-desctiption {
        font-size: 14px;
    }

    .HAQ-DI-subtitle {
        font-size: 23px;
    }

    h1 {
        font-size: 22px;
        font-weight: 900;
    }


    .HAQ-DI-body lable>div:not(.slider-container) span {
        width: 150px;
    }

    .HAQ-DI-body lable>div:not(.slider-container) {
        display: flex;
        justify-content: space-around;
        width: 106%;
        height: 60px;
    }

    .HAQ-DI-body lable input[type="radio"] {
        width: 35px;
        height: 35px;
        accent-color: black;
        cursor: pointer;
    }

    .HAQ-DI-head>p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 550px) {
    .HAQ-DI-head {
        justify-content: center;
    }
}
